.preview {
  color: var(--md-primary);
  font-size: 0.75rem;
}
.preview button {
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0 8px;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 0.75rem;
}
.preview span {
  display: block;
  color: var(--md-danger);
  font-size: 0.75rem;
  line-height: 1.5;
}
